@mixin wrapper($sm: 280px, $md: 720px, $lg: 1140px) {
  margin: 0 auto;
  width: $sm;

  @media #{$tablet-widths} {
    width: $md;
  }

  @media #{$desktop-widths} {
    width: $lg;
  }
}

@mixin custom-wrapper($width: 280px) {
  margin: 0 auto;
  width: $width;
}

@mixin clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin no-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
