.social-list {
  @include no-list;
  text-align: center;

  &__item {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
  }

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    line-height: 49px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #fff;

    &:hover {
      border: 1px solid $orange;
      //background-color: $orange;

      & svg {
        fill: $orange;
      }
    }

    & span {
      @include visually-hidden;
    }

    & svg {
      fill: #fff;
    }
  }
}
